body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E6F2FE;
    color: #E6F2FE;
    font-family: 'Roboto', sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}


.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
       "sidebar header header header"
       "sidebar main main main";
    height: 100vh;


}

/*--------------- header ------------*/

.header{
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    background-color: #0A374A;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

/*-----------------sidebar-----------------*/
#sidebar{
    grid-area: sidebar;
    height: 100;
    background-color:#0A374A;
    color: rgb(255,255,255,255);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: fit-content;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}
.sidebar-title > span {
    display: none;
}
.sidebar-brand {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.header-brand img {
    width: 140px;
    padding-left: 840px;
    
}
.sidebar-brand > .material-icons-outlined {
    font-size: 50px;
}
.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-main-fitur {
    background-color: #72AD11;
    
}

.sidebar-main-fitur > a {
    color: white;
}
.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    
}

.sidebar-main-fitur {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    
}
.sidebar-list-item:hover {
    background-color: white;
    cursor: pointer;
}
.material-icons-outlined {
    color: #72AD11;
}
.sidebar-list-item > a {
    text-decoration: none;
    color: #E6F2FE;

}
/*-------------------main--------------------*/
.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}
.main-cards{
    margin-left: 20em;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
}
/* 
.card-1 {
   margin-top: 93px;
   margin-left: 310px;
   margin-bottom: 0px;

}

.card-2 {
    margin-top: 10px;
    margin-left: 310px;

}
.card-3{
    margin-left: 650px;
    margin-bottom: 1000px;
}
.carrd-4{} */
